[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "output"]
	path = output
	url = https://github.com/4gn3s/4gn3s.github.io.git
	ignore = all
